$TextColor : #333333;
$PrimaryColor : #43A8B4;
$AccentColor : #ebf2f7;
$White1 : #ebf2f7;
$White2 : #fdfeff;
$ItemsBox : #cddae4;


$TextColorD : #ebf2f7;
$PrimaryColorD : #485a81;
$AccentColorD : #ff8246;
$White1D : #292929;
$White2D : #333333;
$ItemsBoxD : #494949;

$Blue : #1c5574;
$Orange : #f68a12;


body {
  background-color : #f8f8f8;
  color: #4863A0;
  margin: 0px;

  --TextColor : #{$TextColor};
  --PrimaryColor : #{$PrimaryColor};
  --AccentColor : #{$AccentColor};
  --White1 : #{$White1};
  --White2 : #{$White2};
  --ItemsBox : #{$ItemsBox};

  &[dark]{
    --TextColor : #{$TextColorD};
    --PrimaryColor : #{$PrimaryColorD};
    --AccentColor : #{$AccentColorD};
    --White1 : #{$White1D};
    --White2 : #{$White2D};
    --ItemsBox : #{$ItemsBoxD};

    .dark-invert{
      filter: invert(1);
    }
  }
}

* {
  margin: 0;
}


nav{
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: var(--PrimaryColor); 

  margin : 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  .inner {
    width : 970px;
    min-width : 50%;
    max-width : 90%;
    padding: 5px;
    margin: 0px;

    
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    li{
      display: inline-block;
      position: relative;
      cursor: pointer;
      
      a{
        display: block;
        color: var(--AccentColor);
        text-decoration: none;
        background-color: transparent;
        border: none;
        padding: 15px ;
        width: auto; 
      }

      a:hover {
        color: var(--White2);
      }
     
      // a.anchor {
      //   display: block;
      //   position: relative;
      //   top: -500px;
      //   visibility: hidden;
      // }
    }  
  }
}

h3{
  text-align: left;
  padding: 0em 0 1em 0;
}

.profile{
  // background-color: white;
  color: var(--TextColor);
  .about {
    .par{
      display: grid;
      grid-template-columns: 60% 40%;
      
      &>div{

        p{
          font-size : 18px;
          text-align: left;
          line-height: 2;
        }
      }

      img{
        width: 80%;
        align-self: center;
        justify-self: end;
        border-radius: 33px;
      }      
    }    
  }
}

.profile.part{  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img.profPics{
  margin-top: 50px;
  width : 75%;
  max-width : 400px;
  position: relative;
  // animation: grow 1s infinite ease;
  // border-radius: 20%;

  &:hover{
    filter: drop-shadow( 0px 0px 5px var(--AccentColor));
  }

}

.profileContainer{
  width: 50%;
  text-align: center;
}

.iconContainer{
  
  .icon{
    padding: 2px 10px 2px 10px;
    margin: 1px;
    text-decoration: none;
    color: var(--AccentColor);

    &:hover{
      filter: drop-shadow( 0px 0px 2px var(--AccentColor));
    }
  }
  
}


.part {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &>div.inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &.w9{
      width : 90%;
    }
    &.w8{
      width : 80%;
    }
    &.left{
      justify-content: left;
    }
    &.column{
      flex-direction: column;
    }
  }
}

.value_item{
  display: grid;
  grid-template-columns: 40px auto;
  grid-column-gap: 5px;
  font-size: 20px;
  padding: 10px;

  img{
    width: 40px;
  }

  &>div{
    margin-top: 7px;
  }
}

.skills-content{
  padding: 5px;
  margin: 10px;
  // border: 1px solidvar{ --PrimaryColor};
  min-width: 150px;
  width : 250px;
  text-align: left;
  border-radius: 1em;
  
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;

  // &:hover { 
  //   transform: scale(1.1);
  // }

  .skill-img{
    position: relative;
    padding: 10px;
    height: 60px;
    width: 60px;
    border-radius: 5px;
    background-color: #{$Orange};
    justify-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  img{
    max-width: 100%;
    max-height: 100%;
  }

  h3{
    font-size: 18px;
    letter-spacing: 0.5px;
    padding:0.5em 0;
  }
  ul{
    padding: 5px;
    list-style-type: none;
    padding-inline-start: 0px;
  }
}

.containers{
  margin : 0px;
  padding: 50px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color : var(--TextColor);

  .inner {
    width : 900px;
    min-width : 50%;
    max-width : 90%;
    padding: 5px;
    margin: 0px;
  }
  
  &.main{
    text-align: center;
    background-color: var(--PrimaryColor);
    color: var(--AccentColor);
  }
}

#DarkButton{
  // position: relative;
  // z-index: 100;
  // right: 5em;
  // top: 1em;
  transform: scale(0.7);
  display: grid;
  grid-template-columns: 30px 60px 30px;
  grid-column-gap: 5px;

  // From https://www.w3schools.com/howto/howto_css_switch.asp
    /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(32, 26, 43);
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: rgb(27, 57, 82);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: .75em;
  background-color: var(--PrimaryColor);
  color: var(--AccentColor);

  .inner {
    width : 900px;
    min-width : 50%;
    max-width : 90%;
    padding: 5px;
    margin: 0px;
  }
}



//Phone
@media only screen and (max-width: 767px) {
  nav{
    font-size: 15px;

    ul{
    
      &.content{
        display: grid;
        grid-template-columns: auto auto;

        li a {
          padding: 5px 5px 10px 5px;
        }
      }
    }
  }

  .profile{
    .about {
      .par{
        grid-template-columns: 100%;
        
        &>div{
  
          p{
            text-align: justify;
          }
        }
  
        img{
          width: 50%;
          align-self: center;
          justify-self: center;
          border-radius: 33px;
        }      
      }    
    }
  }

  h3{
    text-align: center;
  }
}